body {
  margin: 0;
  font-family: roboto, sans serif;
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin: 0 0 0 20px;
}
@media (min-width: 1025px) {
  .section-title {
    margin: 0;
  }
}

.new {
  font-size: 14px;
  color: #008766;
  width: 80px;
  height: 29px;
  background: #99E2D0;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

.loader {
  position: fixed;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  opacity: 0.75;
  z-index: 2;
  -webkit-animation: loader 0.5s 3s forwards;
          animation: loader 0.5s 3s forwards;
}
.loader::after {
  content: "ohmyfood";
  font-family: shrikhand, serif;
  font-size: 30px;
  font-weight: 400;
  color: #101010;
  -webkit-animation: loading 1.5s ease-in-out infinite;
          animation: loading 1.5s ease-in-out infinite;
}
@media (min-width: 1025px) {
  .loader::after {
    font-size: 50px;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0.75;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes loader {
  0% {
    opacity: 0.75;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes loading {
  20% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.7) rotate(360deg);
            transform: scale(0.7) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes loading {
  20% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  80% {
    -webkit-transform: scale(0.7) rotate(360deg);
            transform: scale(0.7) rotate(360deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes slide-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-in {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.entrees {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-animation: slide-in 0.8s 0.333s forwards;
          animation: slide-in 0.8s 0.333s forwards;
}

.plats {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-animation: slide-in 0.8s 0.666s forwards;
          animation: slide-in 0.8s 0.666s forwards;
}

.desserts {
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-animation: slide-in 0.8s 1s forwards;
          animation: slide-in 0.8s 1s forwards;
}

.main-container__btn {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-animation: slide-in 0.8s 1.333s forwards;
          animation: slide-in 0.8s 1.333s forwards;
}

.select__label {
  position: absolute;
  inset: 0;
}
.select__input {
  display: none;
}
.select__input:checked + .restaurant-card .restaurant-card-box {
  -webkit-animation: minimize 0.5s linear forwards;
          animation: minimize 0.5s linear forwards;
}
.select__input:not(:checked) + .restaurant-card .restaurant-card-box {
  -webkit-animation: maximize 0.5s linear forwards;
          animation: maximize 0.5s linear forwards;
}
.select__btn {
  height: 75px;
  width: 59px;
  background: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.select__btn--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 22px;
  height: 22px;
  border: 1px solid #99E2D0;
  border-radius: 50%;
  background: #fff;
  color: #99E2D0;
}

@-webkit-keyframes minimize {
  to {
    width: 100%;
  }
}

@keyframes minimize {
  to {
    width: 100%;
  }
}
@-webkit-keyframes maximize {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% + 59px);
  }
}
@keyframes maximize {
  0% {
    width: 100%;
  }
  100% {
    width: calc(100% + 59px);
  }
}
.fa-heart {
  font-size: 22px;
}

.empty-heart {
  position: absolute;
  z-index: 1;
}

.filled-heart {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.heart-container__input {
  display: none;
}
.heart-container__input:checked + .heart-container__label .filled-heart {
  -webkit-animation: appear 0.5s linear forwards;
          animation: appear 0.5s linear forwards;
}
.heart-container__input:not(:checked) + .heart-container__label .filled-heart {
  -webkit-animation: disappear 0.5s linear forwards;
          animation: disappear 0.5s linear forwards;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes disappear {
  to {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
.card {
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.card__cover {
  -o-object-fit: cover;
     object-fit: cover;
  height: 231px;
  border-radius: 15px 15px 0 0;
}
.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px 33px 12px 13px;
  gap: 5px;
}
.card__content--title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin: 0;
}
.card__content--subtitle {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  margin: 0;
}

header .header__title {
  background-color: #FFF;
  margin: 14px 89px 13px 89px;
  font-family: shrikhand, serif;
  font-size: 30px;
  font-weight: 400;
  color: #101010;
  text-align: center;
}
header .header__location {
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #EAEAEA;
  width: 100%;
  gap: 17px;
  height: 50px;
}

.cta-section {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 25px;
}
@media (min-width: 1025px) {
  .cta-section {
    padding: 30px 25px;
  }
}
.cta-section h2 {
  margin: 39px 0 0 0;
  height: 68px;
}
@media (min-width: 769px) {
  .cta-section h2 {
    font-size: 32px;
  }
}
@media (min-width: 1025px) {
  .cta-section h2 {
    font-size: 40px;
    margin: 0;
  }
}
.cta-section__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}
.cta-section__btn {
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 13px 18.75px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 27px;
  margin-bottom: 57px;
  width: 218px;
}
@media (min-width: 1025px) {
  .cta-section__btn {
    margin-bottom: 0;
  }
}
.cta-section__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.info-section {
  background-color: #FFF;
  padding: 48px 0 68px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
@media (min-width: 769px) {
  .info-section {
    padding: 16.66px 60px;
  }
}
@media (min-width: 1025px) {
  .info-section {
    padding: 33.33px 120px;
  }
}
@media (min-width: 1281px) {
  .info-section {
    padding: 50px 180px;
  }
}
.info-section__bubblescontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24.94px;
}
@media (min-width: 1025px) {
  .info-section__bubblescontainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 36.51px;
  }
}
.info-section__bubble {
  border-radius: 20px;
  background: #F6F6F6;
  height: 72px;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 0 32.51px;
  padding: 0 38px 0 33px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (min-width: 1025px) {
  .info-section__bubble {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
    text-align: unset;
    width: 33%;
    margin: 0;
  }
}
.info-section__bubble img {
  position: absolute;
  left: 34px;
}
@media (min-width: 769px) {
  .info-section__bubble img {
    left: 67px;
  }
}
@media (min-width: 1025px) {
  .info-section__bubble img {
    position: unset;
  }
}
.info-section__bubble--number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 11px;
  font-style: normal;
  font-size: 14.182px;
  position: absolute;
  left: -12px;
}
.info-section__bubble--text {
  width: 211px;
}
@media (min-width: 1025px) {
  .info-section__bubble--text {
    width: unset;
  }
}

.restaurants-section {
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  padding: 54px 0 66px 0;
}
@media (min-width: 769px) {
  .restaurants-section {
    padding: 15px 90px;
  }
}
@media (min-width: 1281px) {
  .restaurants-section {
    padding: 30px 180px;
    gap: 28px;
  }
}
.restaurants-section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}
@media (min-width: 1281px) {
  .restaurants-section__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 100px;
    width: 100%;
  }
}
.restaurants-section__link {
  margin: 0 18px 0 17px;
  position: relative;
}
@media (min-width: 1281px) {
  .restaurants-section__link {
    margin: 0;
    width: 50%;
  }
}
.restaurants-section .heart-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

footer {
  background: #353535;
  padding: 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (min-width: 769px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 30px 12.5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1280px) {
  footer {
    padding: 30px 25px;
  }
}
footer .footer__title {
  margin: 0;
  font-family: Shrikhand, serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
footer .footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}
@media (min-width: 769px) {
  footer .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}
footer .footer__link {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 11px;
  font-weight: 400;
}
@media (min-width: 1280px) {
  footer .footer__link {
    min-width: 130px;
  }
}

.header__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 0 13px 0;
}
.header__banner--goback {
  position: absolute;
  left: 17px;
}
.header__banner--title {
  background-color: #FFF;
  font-family: shrikhand, serif;
  font-size: 30px;
  font-weight: 400;
  color: #101010;
  text-align: center;
  margin: 0;
  padding: 0px 19px 0px 16px;
}

@media (min-width: 1025px) {
  .restaurantspage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.restaurantspage-cover {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main-container {
  position: relative;
  background: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}
@media (min-width: 1025px) {
  .main-container {
    width: 1025px;
    overflow: hidden;
  }
}
@media (min-width: 1280px) {
  .main-container {
    width: 1045px;
  }
}
.main-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 17px 0 17px;
  margin: 0 17px;
  width: 90%;
}
@media (min-width: 1025px) {
  .main-container__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 24px;
  }
}
.main-container__title h2 {
  font-family: shrikhand, serif;
  font-size: 28px;
  font-weight: 400;
  color: #101010;
  margin: 0;
}
.main-container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  width: 100%;
}
@media (min-width: 1025px) {
  .main-container__block {
    width: unset;
  }
}
.main-container__block--title {
  font-size: 16px;
  font-weight: 300;
  color: #000;
  margin: 0 0 0 13px;
  height: 27px;
}
.main-container__block--title span {
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
}
.main-container__btn {
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 48px 15px 49px;
  font-size: 16px;
  color: white;
  width: 186px;
  text-align: center;
}
.main-container__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.restaurant-card {
  border-radius: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 0 13px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1025px) {
  .restaurant-card {
    width: 634px;
  }
}
.restaurant-card-box {
  width: calc(100% + 59px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  overflow: hidden;
}
.restaurant-card-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px 0 15px 15px;
}
.restaurant-card-box__content--title {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-card-box__content--subtitle {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant-card-box__price-and-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.restaurant-card-box__price-and-select--price {
  margin: 15px 15px 15px 0;
}
.restaurant-card-box__price-and-select--price p {
  height: 45px;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}